@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Contactgegevens</h3>
<p>Voor vragen of opmerkingen kun je ons bereiken op de volgende manieren: </p>
<img src="http://i.imgur.com/zaxTHxQ.png" title="Contact" alt=""/>
<p>
    We versturen alle bestellingen met PostNL. Als je liever je bestelling wilt ophalen, dan kan dit, op afspraak, in Sittard.
</p>