@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Surface RT</h1>
            </hgroup>
            <p>
                @ViewBag.Message
            </p>
        </div>
    </section>
}
<h3>Welkom</h3>
<ol class="round">
    <li class="one">
        <h5>Wie zijn wij?</h5>
        <p>Even voorstellen: wij zijn Robert en Roger, twee studenten, bezig met de bachelor opleiding Informatica. 
        Via onze school kunnen we goedkoop Windows Surface RT tablets kopen. Dit kunnen we uiteraard niet aan ons voorbij laten gaan.</p>
    </li>

    <li class="two">
        <h5>Planning</h5>
        <ul>
            <li>11-07-2013: Start Actie</li>
            <li>31-07-2013: Einde Actie</li>
            <li>01-08-2013: Producten worden besteld</li>
        </ul>
        <p>Producten worden verzonden zodra ze ontvangen zijn.</p>
    </li>

    <li class="three">
        <h5>Vragen</h5>
        <p>Je kunt ons bereiken op de volgende manieren:</p>
        <img src="http://i.imgur.com/2N3a9oa.png" title="Contact"/>
    </li>
</ol>
