@{
    ViewBag.Title = "MeerInformatie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Meer Informatie</h3>
<ol class="round">
    <li class="one">
        <h5>Registreren</h5>
        <p>Klik @Html.ActionLink("hier", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) om te registreren.
            Vul alle gegevens in en controleer of je adresgegevens juist zijn. Klik vervolgens op de knop 'Registreer' onderaan de pagina. Je account is nu klaar om te gebruiken.
            Zodra je bent ingelogd kun je:
            <ul>
                <li>
                    Producten bestellen
                </li>
                <li>
                    Orders bekijken
                </li>
            </ul>
        </p>
    </li>

    <li class="two">
        <h5>Producten bestellen</h5>
        
        <p>product best info TODO</p>
    </li>

    <li class="three">
        <h5>Betalen</h5>
        <p>betaal info TODO</p>
    </li>
</ol>

